.backdrop.active {
  background-color: rgba(0, 0, 0, 0.318);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: rgb(226, 226, 226);
  padding: 1.2rem;
  gap: 2rem;
  width: 92%;
  margin: 0 auto;
  z-index: 15;
  border-radius: 15px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.25);
  animation: 400ms slidein ease-in-out forwards;
}

.backdrop,
.modal {
  display: none;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal .addingList {
  list-style: none;
  padding: 0;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.modal .searchContainer ul {
  position: absolute;
  top: 1.4rem;
  width: 100%;
  padding: 0;
  list-style: none;
  max-height: 20rem;
  overflow: auto;
  z-index: 15;
}

.modal .addingList .addingItem {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--icon-secondary-color), var(--icon-color));
  color: white;
  min-width: 50%;
  border: none;
}

.modal .addingList .addingItem.disabled {
  filter: brightness(0.6);
}

.modal .amountActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.modal .amountActions .amountValue {
  font-size: 3rem;
}

.modal .amountActions .countIcon {
  border-radius: 50%;
  background-color: var(--background-color);
  color: white;
  font-size: 2rem;
  padding: 6px;
}

.modal .searchContainer {
  position: relative;
  width: 100%;
}

.modal .searchContainer .productItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 1rem;
  border-bottom: 1px solid #dfdfdf;
}

.modal .searchContainer .productItem:nth-child(even) {
  background-color: rgb(250, 243, 251);
}

.modal .searchContainer .productItem:last-child {
  border: none;
}

.modal .searchContainer .productItem p {
  margin: 8px 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 4px;
}

.modal .searchContainer .productItem .volume {
  font-size: 0.6rem;
}

.modal .searchContainer .productItem .productBrand {
  font-size: 0.8rem;
  color: #5a5a5a;
}
